<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!--{% load custom_filters %}-->

{# Импортируем модуль с нашим тегом #}
{% load custom_tags %}

<!-- Название у нас будет posts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    <h1>Все новости</h1>

    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
    <form action="" method="get">
        {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
        {{ filterset.form.as_p }}
        {# Добавим кнопку отправки данных формы #}
        <input type="submit" value="Найти" />
    </form>

    <!-- Выводим новости, только если они есть с помощью тега if -->
    <!-- Используем переданную из представления переменную time_now
    и применяем к ней фильтр date. По назначению этот фильтр очень похож
    на метод strftime у объекта datetime в Python — вывод времени
    в указанном формате. -->
    <h3>{{ time_now|date:'M d Y' }}</h3>
    <h3>Количество всех новостей {{ posts|length }}</h3>
    <!-- Если в переменной next_sale будет None,
    то выведется указанный в фильтре текст -->
    <h3> {{ next_news|default_if_none:"Чуть позже сообщим о новостях!" }} </h3>

    {% if posts %}
<!--        {{ posts }}-->
        <table> <!-- Начинаем описывать таблицу -->
            <tr> <!-- Добавляем строку -->
                <!-- Добавляем ячейку в строку -->
                <td>Название</td><!-- Добавляем ещё одну ячейку в строку и так далее -->
                <td>Дата публикации</td>
                <td>Описание</td>
            </tr><!-- Не забываем закрыть HTML-тег строки -->
            <!-- Для каждой новости будете генерироваться новая строчка,
            т.е. новый HTML код, который указан в теле цикла.
            При этом сам цикл работает точно так же, как и в Python.
            post — переменная цикла, т.е. наша новостьь полученная из списка -->
            {% for post in posts %}
            <tr>
                <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
                <td>{{ post.post_title }}</td>
                <td>{{ post.post_creation|date:'M d Y' }}</td>
                <!-- Добавим специальный фильтр truncatechars,
                чтобы ограничить количество символов до 15.
                Все остальные символы превратятся в многоточие. -->
                <td>{{ post.post_text|truncatechars:20|abusive }}</td>
            </tr>
            {% endfor %}
       </table><!-- ... и таблицы -->
    {% else %}
        <!-- Если новости нет, говорим, что новости нет ;) -->
        <h2>Новостей нет!</h2>
    {% endif %}
   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}





















